@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,500&display=swap');

h1, h2, h3, p, span {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
font-weight: 500px;
color:  black;

}

#second-block h1 {
  color: #C06C84;
}

h3{
  font-weight: 300px;
  color:  #F67280;
  margin: auto;
}

p {
  font-weight: 100px;
}

i.fab {
  margin-right: 20px;
  font-size: 50px;
  color: #6C5B7B;
}

.bottom-page-links p {
  font-weight: 200px;
  color: black;
}

.bottom-page-links a {
  text-decoration : none;!important
}

body {

background-color: #fafafa;

}
.container {
  margin: 0 170px;
}
.block {
  background-color: white;
  border-radius: 6px;
  padding: 20px 50px 28px;
  margin: 0 0px 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,.1);
  text-align: center;
}

#first-block img {
  animation: pulse 3s infinite;
  border-radius: 75px;
  border: 6px solid rgba(255,255,255,0.7);
}

#third-block, #first-block {
  background-image: url(images/test1.jpg)
}

#second-block {
  flex-direction: column;
  justify-content: space-around;
}

.bottom-page-links li {
  display: inline-block;
}

.bouton {
  width: 200px;
  border : solid;
  border-width: 2px;
  border-color: #C06C84;
  border-radius: 30px;
  margin-left: 20px;
}

.bouton:hover {
background-color: #C06C84;
color: white;
}

.bouton:hover p {
color: white;
}

i.fab:hover {
color: #F67280;
}

ul, menu, dir {
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    padding-top: 15px;
}

@media (max-width: 960px) {
  .container {
    width: 600px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 400px;
  }

    h1 {
    font-size: 26px;
  }
  .first-block p{
  font-size: 14px;
  text-align: justify;
  }

   .second-block > p{
  font-size: 14px;
  text-align: justify;
  }

   .third-block p{
  font-size: 14px;
  text-align: justify;
  }
}
@media (max-width: 540px) {

  .bouton {
    margin-bottom: 30px;
    margin-left: 0px;
  }

  .container {
  margin: auto;
  width: 300px;
  }

  h1 {
    font-size: 26px;
  }
  #first-block p{
  font-size: 14px;
  text-align: justify;
  }

   #second-block > p{
  font-size: 14px;
  text-align: justify;
  }

   #third-block p{
  font-size: 14px;
  text-align: justify;
  }

}
